version: 2
updates:
- package-ecosystem: "pip" # See documentation for possible values
  cooldown:
    default-days: 10 # Fallback cooldown if no specific rule applies
  directory: "/"
  schedule:
    interval: "weekly"
  labels:
    - "maintenance"
    - "dependencies"
  commit-message:
      prefix: "build"
  cooldown:
    default-days: 10
    include:
      - "*"  # Include all dependencies in cooldown
    exclude:
      - "ansys/actions"

- package-ecosystem: "github-actions"
  cooldown:
    default-days: 10 # Fallback cooldown if no specific rule applies
  directory: "/"
  schedule:
    interval: "weekly"
  cooldown:
    default-days: 10
    include:
      - "*"  # Include all dependencies in cooldown
    exclude:
      - "ansys/actions"